function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return
function Keyboard.keyPressed 0
push static 0
push constant 0
add
pop pointer 1
push that 0
return
function Keyboard.readChar 1
label Keyboard.readChar.WHILE.0
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto Keyboard.readChar.WHILE.1
goto Keyboard.readChar.WHILE.0
label Keyboard.readChar.WHILE.1
call Keyboard.keyPressed 0
pop local 0
label Keyboard.readChar.WHILE.2
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto Keyboard.readChar.WHILE.3
goto Keyboard.readChar.WHILE.2
label Keyboard.readChar.WHILE.3
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 2
push argument 0
call Output.printString 1
pop temp 0
push constant 64
call String.new 1
pop local 0
call Keyboard.readChar 0
pop local 1
label Keyboard.readLine.WHILE.4
push local 1
call String.newLine 0
eq
not
not
if-goto Keyboard.readLine.WHILE.5
push local 1
call String.backSpace 0
eq
not
if-goto Keyboard.readLine.IF.0
push local 0
call String.eraseLastChar 1
pop temp 0
goto Keyboard.readLine.IF.1
label Keyboard.readLine.IF.0
push local 0
push local 1
call String.appendChar 2
pop temp 0
label Keyboard.readLine.IF.1
call Keyboard.readChar 0
pop local 1
goto Keyboard.readLine.WHILE.4
label Keyboard.readLine.WHILE.5
push local 0
return
function Keyboard.readInt 1
push argument 0
call Keyboard.readLine 1
pop local 0
push local 0
call String.intValue 1
return
