function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Output.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
function Sys.halt 0
label Sys.halt.WHILE.30
push constant 0
not
not
if-goto Sys.halt.WHILE.31
goto Sys.halt.WHILE.30
label Sys.halt.WHILE.31
push constant 0
return
function Sys.wait 1
label Sys.wait.WHILE.32
push argument 0
push constant 1000
gt
not
if-goto Sys.wait.WHILE.33
label Sys.wait.WHILE.34
push local 0
push constant 1000
push constant 20
call Math.multiply 2
lt
not
if-goto Sys.wait.WHILE.35
push local 0
push constant 1
add
pop local 0
goto Sys.wait.WHILE.34
label Sys.wait.WHILE.35
push argument 0
push constant 1000
sub
pop argument 0
goto Sys.wait.WHILE.32
label Sys.wait.WHILE.33
push constant 0
pop local 0
label Sys.wait.WHILE.36
push local 0
push argument 0
push constant 20
call Math.multiply 2
lt
not
if-goto Sys.wait.WHILE.37
push local 0
push constant 1
add
pop local 0
goto Sys.wait.WHILE.36
label Sys.wait.WHILE.37
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
